html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Karla', sans-serif;
    color: #47503A;
}

.header-image{
    height: 550px;
}

.header-font{
    font-family: 'Spectral', serif;
}

.btn-background{
    /* padding-left: 25px; */
    background: #47503A;
}

.background-color{
    background: #F3F2EE;
}

.second-background{
    background-color: #9D331B;
}

.long-border{
    border-bottom: 2px solid #47503A;
}

.card{
  transition: all 0.4s ease;
     -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.card img{
    border: 0.3px;
    
}

.card:hover{
    box-shadow: 1px 3px 15px 0px rgb(0 0 0 / 25%);
    -webkit-box-shadow:  1px 3px 15px 0px rgb(0 0 0 / 25%);
}

.card:hover .details-btn{
    position: absolute;
    top: 235px;
    display: block;
}


.details-btn{
    display: none;
    border: 0.5px;
    background: #FFFFFF;
}

.details-btn:hover{
    box-shadow:  0px 2px 10px 0px rgba(0, 0, 0, 0.1); 
}

.hover-effect{
    transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hover-effect:hover{
    box-shadow:  0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.owl-nav{
    position: absolute;
    top: -65px;
    right: 8px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.owl-stage-outer{
    padding-bottom: 25px;
}

.owl-prev, .owl-next{
    width: 35px;
}

.owl-dots{
    margin-top: 35px;
}

.feature-container{
    background: #F3F2EE;
}

.feature-img-1{
    background-image: url('../img/feature-img-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 515px;
}

.feature-img-2{
    background-image: url('../img/feature-img-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 515px;
}

.discover-btn-1{
    border-radius: 3px;
    background: #FFFFFF;
    border: 0.5px;
    color: #47503A;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.discover-btn-2{
    background: #FFFFFF;
    border: 0.5px;
    color: #47503A;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.mushroomPageHeader{
    height: 333px;
    width: 100%;
    background-image: url('../img/mushroomCover1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mushroomPageHeader .overlay{
    height: 333px;
    width: 100%;
    background-image: url('../img/mushroomCover2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cutout-corner-two{
    background: linear-gradient(-54deg, transparent 45px, #9D331B 0);
}

.cutout-corner-one{
    background: linear-gradient(-54deg, transparent 45px, #fff 0);
}

.border-color{
    border-color: #9D331B;
}

.need-help{
    background-color: #f7f7f7;
}

.perfumePageHeader{
    height: 333px;
    width: 100%;
    background-image: url('../img/perfumesCover.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.perfumePageHeader .overlay{
    height: 333px;
    width: 100%;
}

.text-color-second{
    color: #9D331B;
}

@media screen and (max-width: 640px){
    .card:hover .details-btn{
        top: 350px;
    }
}

@media screen and (max-width: 500px){
    .card:hover .details-btn{
        top: 300px;
    }
}

@media screen and (max-width: 480px){
    .card:hover .details-btn{
        top: 280px;
    }
}