body{
    font-family: 'Karla', sans-serif;
    color: #47503A;
}

.header-font{
    font-family: 'Spectral', serif;
}

.background-color{
    background: #F3F2EE;
}

.btn-background{
    background: #47503A;
}